@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-main: #2D3436;
  --color-main-background: #F2F6F7;
  --color-main-background-hover: #E4EBED;
  --color-main-background-active: #D1E0E5;
  --color-primary: #00B4D8;
  --color-secondary: #636E72;
  --color-interactive: #00B4D8;
  --color-interactive-hover: #0096C7;
  --color-interactive-active: #A5D8A8;
  --color-interactive-text: #FFFFFF;
  --color-interactive-text-hover: #FFFFFF;
  --color-interactive-text-active: #2D3436;
  --color-border: #DFE6E9;
  --color-border-hover: #B2BEC3;
  --color-border-active: #636E72;
  --color-accent: #A5D8A8;
  --color-accent-hover: #B8B8FF;
  --color-accent-active: #88A488;
  --color-support: #00B894;
  --color-support-hover: #00B894AA;
  --color-support-active: #00B89488;

  /* Custom font families */
  --font-family-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-family-default: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-family-mono: "Courier New", Courier, monospace;

  /* Custom font sizes */
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;

  /* Custom spacing (padding/margin/etc.) */
  --spacing-8: 2rem;
  --spacing-12: 3rem;
}

:root {
  font-family: var(--font-family-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: var(--color-main-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}